
      <div class="form-element">
        <form  novalidate class="example-form" [formGroup]="signinForm"   >

          <h2 ><strong> Iniciar Sesión</strong></h2>
          <br>
          <mat-grid-list  cols="1"  rowHeight="80px" >
        <mat-grid-tile >
        <mat-form-field appearance="outline">
              <mat-label>Nombre usuario o correo</mat-label>
          <input matInput formControlName="email" maxlength="100"  placeholder="Nombre usuario o correo" required>
          <mat-error *ngIf="signinForm.get('email').hasError('required')">
            Correo electrónico es requerido
           </mat-error>
           <mat-error *ngIf="signinForm.get('email').hasError('email') && !signinForm.get('email').hasError('required')">
            Ingrese un correo electrónico válido.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile >
      <mat-grid-tile >
      <mat-form-field appearance="outline" class="custom-form-field-width">
        <mat-label>Contraseña</mat-label>
          <input [type]="hide ? 'password' : 'text'" (keydown.enter)="loginUser()" matInput maxlength="30" formControlName="password" placeholder="Contraseña" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="signinForm.get('password').hasError('required')">
            Contraseña es requerido
           </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile >
        <button mat-flat-button color="primary" type="submit" (click)="loginUser()" >Acceder
          <mat-spinner strokeWidth="4" [diameter]="30" *ngIf="isLoading"></mat-spinner>
        </button>
      </mat-grid-tile>
    </mat-grid-list>
      </form>

      
      
      </div>


